importFrom(utils, untar)
importFrom(stats, rnorm, runif, setNames)
importFrom(ggplot2, .data)
export(build_state_features)
export(collapse_probes)
export(find_platform_file)
export(fit_iot)
export(gsm_id)
export(has_cel_file)
export(make_cost)
export(pathway_markers)
export(plot_pathway_trend)
export(plot_theta)
export(plot_transition_flow)
export(plot_transition_heatmap)
export(pseudotime_from_transition)
export(row_ce_loss)
export(row_conditional)
export(runIOT)
export(score_pathways)
export(simulate_iot_states)
export(soft_sinkhorn)
export(transition_matrix)
export(zscore_phi)
S3method(print, bioIOT_fit)
S3method(runIOT, SingleCellExperiment)
S3method(runIOT, Seurat)
S3method(runIOT, default)
S3method(runIOT, matrix)
S3method(summary, bioIOT_fit)
